Django==2.2.6
djangorestframework==3.11.0
djangorestframework-jwt==1.11.0
django-cors-headers==3.0.2
django-webpack-loader==0.7.0
django-mdeditor==0.1.18
django-environ
markdown==3.2.2
PyJWT==1.7.1
pendulum
